<!DOCTYPE html>
<html lang="kr">
	<head>
		<title>오탈자 체크기</title>

		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	
	</head>

<body>
	문장입력
	<textarea id="text" rows=20 cols=100></textarea>
	<button id="send">체크하기</button>
	<p id="result">
</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script>
		$("#send").on('click', function(){
			if($("#text").val().trim()==''){
				alert("단어를 입력 해 주세요")
			} else{
				 $.post('/checker', {text:$("#text").val()},function(result){
					if(result.length==0){
						$("#result").text("틀린단어가 존재하지 않습니다.")
					} else{
						var text= '틀린단어 : '
						for(var i = 0; i<result.length;i++){
							text = text + result[i]['word'] + '   '
						}
						$("#result").text(text)
					}
				 }).fail((function(){
					 	alert("내부 오류입니다.")
				 }))
			}
		})
	</script>
</html>