<!DOCTYPE html>
<html lang="kr">
	<head>
		<title>Air puri | 개인 정보 처리 방침</title>

		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

		<!-- Favicon for Desktop, iOS and android -->
		<link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="assets/images/favicons/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="assets/images/favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="assets/images/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="mask-icon" href="assets/images/favicons/safari-pinned-tab.svg">

		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

		<link href="/assets/css/bootstrap.css" rel="stylesheet"> 
		<link href="/assets/css/font-awesome.css" rel="stylesheet">
		<link href="/assets/css/pe-icon-7-stroke.css" rel="stylesheet">
		<link href="/assets/css/magnific-popup.css" rel="stylesheet">
		<link href="/assets/css/aos.css" rel="stylesheet">
		<link href="/assets/css/flexslider.css" rel="stylesheet">
		<link href="/assets/css/style.css" rel="stylesheet">
		<link href="/assets/css/colors/color-1.css" rel="stylesheet"> <!-- Color Scheme -->
		<link rel="stylesheet" href="/css/loading.css">
		<link rel="stylesheet" href="/css/loading-btn.css">

		<script src="/assets/js/vue.js"></script> 		
		<script src="/assets/js/modernizr.js"></script>

		<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script> 
		<![endif]-->

	</head>

<body>
	<div id="app">
	<!-- Start Content -->
	<section id="main" class="wrapper">

		<!-- Start Header -->
		<header id="contact-home" class="page-header-container">
			<div class="container-fluid page-header-content">
				<div class="page-overlay"></div>
				<h2>개인 정보 처리 방침</h2>
			</div>
		</header>
		<!-- End Header -->

		<!-- Start Navigation -->
		<nav id="navigation" class="navbar navbar-default navbar-page-top">
			<div class="container-fluid">

				<div class="container">
					<div class="navbar-header">
						<button id="nav-icon" type="button" class="navbar-toggle collapsed nav-icon" data-toggle="collapse" data-target="#menu-navbar" aria-expanded="false">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
						</button>
						<a class="navbar-brand smooth" href="index-1.html">Olli.<span class="logo-promo-text">Perfect Gadgets</span></a> <!-- Title / Tagline -->
					</div>

					<div class="collapse navbar-collapse" id="menu-navbar">
						<ul class="nav navbar-nav navbar-right smooth-nav">
							<li><a href="/temp#home" title="Home">Home</a></li>
							<li><a href="/temp#about" title="About">About</a></li>
							<li><a href="/temp#products-1" title="Products">Products</a></li>
							<li><a href="/temp#" target="_blank" title="Buy This Template">Buy It</a></li>
							<li><a href="index-1.html#reviews" title="Reviews">고객센터</a></li>
						</ul>
					</div>

					<div class="clearfix"></div>

				</div>
			</div>
		</nav>
		<!-- Start Content -->
		<section id="content" class="page-container">
			<div class="container">
				<div class="row">
					<div class="col-md-8 page-content">
						<p class="text-left" style="color: #555">
				<strong>에어퓨리(이하 '회사')</strong>는 개인정보보호 관련 주요 법률인 개인정보보호법, 정보 통신망 이용 촉진 및 정보 보호등에 관한 법률 (이하 "정보 통신망 법")을 비롯한 모든 개인정보보호 관련 법률 규정 및 관련 국가기관 등이 제정한 고시, 훈령, 지침 등을 준수합니다.</p>
<p>본 개인정보취급방침의 목차는 아래와 같습니다.</p>
<hr>
<p><strong>1.개인정보취급방침의 의의</strong></p>
<p><strong>2.개인정보의 수집 항목 및 수집 방법</strong></p>
<p><strong>3.개인정보의 이용목적</strong></p>
<p><strong>4.개인정보의 보유, 이용기간, 파기절차, 방법</strong></p>
<p><strong>5.개인정보 제3자제공</strong></p>
<p><strong>6.개인정보 취급 위탁</strong></p>
<p><strong>7.이용자 및 법정 대리인의 권리와 행사방법</strong></p>
<p><strong>8.개인정보 자동 수집 장치의 설치, 운영 및 그 거부에 관한 사항</strong></p>
<p><strong>9.개인정보관리 책임자</strong></p>
<p><strong>10.개정 전 고지 의무</strong></p>
<hr>
<h4><strong>제1조 (개인정보취급방침의 의의)</strong></h4>

<p>회사는 개인정보취급방침을 통하여 회사가 제공하는 온라인 서비스인 모어더프린트 서비스를 이용하는 회원의 개인정보를 소중하게 생각하고, 회원의 개인정보를 보호하기 위해 항상 최선을 다해 노력하고 있습니다.</p>
<p>개인정보취급방침은 다음과 같은 중요한 의미를 가지고 있습니다.</p>

<p>- 회사가 어떤 정보를 수집하고, 수집한 정보를 어떻게 사용하며, 필요에 따라 누구와 이를 공유('위탁 또는 제공')하며 이용목적을 달성한 정보를 언제, 어떻게 파기하는지 등 '개인정보보호'와 관련한 정보를 투명하게 제공합니다.</p>
<p>- 정보주체로서 이용자는 자신의 개인정보에 대해 어떤 권리를 가지고 있으며, 이를 어떤 방법과 절차로 행사할 수 있는지를 알려드립니다.</p>
<p>- 개인정보 침해 사고가 발생하는 경우, 추가적인 피해를 예방하고 이미 발생한 피해를 복구하기 위해 누구에게 연락하여 어떤 도움을 받을 수 있는지 알려드립니다.</p>





<h4><strong>제2조 (개인정보의 수집 항목 및 수집 방법)</strong></h4>

<p><strong>1)회사는 회원가입, 상당, 서비스 신청 등을 위해 아래와 같은 개인정보를 수집하고 있습니다.</strong></p>

<p>필수항목 - 이름, 이메일, 비밀번호</p>

<p><strong>이용목적</strong></p>
<p>① 회원제 서비스 운영 및 관리 (가입 및 탈퇴 처리등)</p>
<p>② 이용약관, 서비스상품약관, 개인정보취급방침의 변경, 서비스 변경, 중단, 장애, 침해 사고 등 중요 사항 고지 등 의사소통 경로</p>
<p>③ 서비스 민원 사항, 고충 처리 결과 안내</p>
<p>④ 개인 정보 보호 관련 법령에 따른 회원 정보 열마, 정정권 이행</p>
<p>⑤ 정보 통신망법 등 관련 법령에 따른 보유 및 보존 의무 이행</p>


<p><strong>2)서비스 이용단계</strong></p>

<p>필수항목(1) - 결재 수단별 정보_신용카드,무통장입금(가상계좌),실시간 계좌 이체</p>

<p><strong>이용목적</strong></p>
<p>① 유료 서비스 계약의 이행 및 서비스 제공에 따른 요금 청구, 결제, 정산, 할인</p>
<p>② 유료 서비스 계약 이행 업무 위탁(*구매, 결제 단계에서 회원이 입력하는 신용카드 번호, 유효 기간, 휴대폰 번호 등의 정보는 회사가 직접 저장하지 않습니다.)</p>

<p>필수항목(2) - 구매자 이름, 연락처(휴대전화번호, 이메일 주소), 수령자 이름, 수령자, 연락처(휴대전화번호, 유선전화번호),배송지 주소</p>

<p><strong>이용목적</strong></p>
<p>① 상품 주문 배송</p>

<p>필수 항목(생성 정보) - 서비스 이용기록, 사이트 방문 기록, 쿠키 등</p>

<p><strong>이용목적</strong></p>
<p>① 서비스 이용 내역 확인</p>
<p>② 관련 법령에 따른 보유 및 정보 제공 의무 이행</p>
<p>③ 이용자 접속 빈도 분석, 고객</p>
<p>④ 이용자 맞춤형 서비스 제공을 위한 통계 활용 및 원활한 서비스 제공을 위한 서비스 시스템 인프라 확충</p>


<p><strong>3)수집 방법</strong></p>
<p>모어더프린트 홈페이지를 통한 회원가입, 배송요청, 경품 행사 응모과정에서 해당 개인정보를 수집합니다.</p>
<p>고객센터를 통한 상담과정에서 웹페이지, 메일, 팩스, 전화 등을 통해 이용자의 개인정보가 수집될 수 있습니다.</p>





<h4><strong>제3조 (개인정보의 이용목적)</strong></h4>

<p><strong>1)서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금 정산</strong></p>
<p>- 콘텐츠 제공, 구매 및 요금 결제, 물폼 배송 또는 청구지 등 발송, 금융거래 본인 인증 및 금융 서비스</p>

<p><strong>2)회원관리</strong></p>
<p>- 회원제 서비스 이용에 따른 본인확인, 개인 식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 연령확인, 만 14세 미만 아동 개인정보 수집 시 법정 대리인 동의여부 확인, 불만처리 등 민원처리, 고지사항 전달</p>

<p><strong>3)마케팅 및 광고에 활용</strong></p>
<p>- 신규 서비스(제품) 개발 및 특화, 이벤트 등 광고성 정보 전달, 인구통계학적 특성에 따른 서비스 제공 및 광고 게재, 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계</p>





<h4><strong>제4조 (개인정보의 보유, 이용기간, 파기 절차, 방법)</strong></h4>

<p>회원탈퇴, 개인 정보의 수집 및 이용 목적이 달성 된 경우 회원의 개인정보를 지체없이 파기합니다. 단 아래 각 사유 및 기간에 한하여 예외적으로 회원의 개인정보를 보유합니다.</p>

<p><strong>1) 회사 내부 방침에 의한 경우</strong></p>
<p>불량 이용자 재가입 방지, 부정 이용 방지, 기타 민원 대응</p>
<p>- 보유 기간 : 회원 탈퇴 후 6개월 간(단, 민원 대응의 경우 민원 해결 시까지)</p>
<p>- 보유 정보 : 아이디, 가입일, 탈퇴일</p>

<p><strong>2) 회원이 직접 개인 정보의 보존을 요청한 경우 또는 회사가 개별적으로 회원의 동의를 얻은 경우</strong></p>
<p>- 보유 기간 및 보유 정보 : 회원의 요청 또는 동의를 얻은 항목, 기간에 한하여 해당 기간 동안 보유</p>

<p><strong>3) 법령에 의거, 이용자의 동의 없이 보존할 것을 정한 경우</strong></p>
<p>① 근거 법령 : 전자상거래 등에서의 소비자 보호에 관한 법률</p>
   <p>보존 정보 : 계약 또는 청약 철회에 관한 기록</p>
   <p>보존 기간 : 5년</p>
<p>② 근거 법령 : 전자상거래 등에서의 소비자 보호에 관한 법률, 상법, 국세 기본법, 소득세법, 법인세법, 부가가치법</p>
   <p>보존 정보 : 대금 결제 및 재화 등의 공급에 관한 기록, 상업 장부와 영업에 관한 전표, 증빙 서류</p>
   <p>보존 기간 : 5년</p>
<p>③ 근거 법령 : 전자상거래 등에서의 소비자 보호에 관한 법률</p>
   <p>보존 정보 : 소비자 불만 도는 분쟁 처리에 관한 기록</p>
   <p>보존 기간 : 3년</p>
<p>④ 근거 법령 : 통신 비밀 보호법</p>
   <p>보존 정보 : 웹사이트 방문기록</p>
   <p>보존 기간 : 3개월</p>

<p><strong>4) 개인정보 유효 기간제의 적용</strong></p>
<p>회사는 정보 통신망 법 관련 조항에 다라 가입후 1년(이하 "개인정보 유효기간")동안 서비스를 이용한 사실 또는 활동한 기록이 없는 경우, 개인정보의 안전한 보호 및 피해 발생을 방지하기 위해 '정보 통신망 이용 촉진 및 '정보 보호 등에 관한 법률 제 29조'에 근거하여 이용자에게 사전통지하고 개인정보를 별도로 분리하여 저장 관리합니다.</p><p> 회사는 유효 기간이 도래하기 30일 전까지, 이메일, 문자메시지, 휴대전화 등 회원이 입력한 연락 수단을 통하여 사전에 통지합니다.</p><p> 다만 개인정보 유효기간이 도래한 회원의 경우에도 회원이 별도 유효 기간 갱신의 요청 등 개별 동의가 있는 경우, 머니가 남아있는 경우 또는 타 법령에서 별도로 보존 기간을 정하는 경우에는 법령이 정한 기간 동안 보존 후 조치 됩니다.</p><p> 개인 정보 유효 기간제에 의해 별도 분리된 경우라도 회원이 서비스 재이용을 원하실 경우 본인 확인 절차를 거쳐 서비스를 재이용하실 수 있습니다.</p>

<p><strong>5) 파기 절차</strong></p>
<p>이용자가 회원가입 등을 위해 입력한 정보는 목적이 달성된 후 별도의 DB로 옮겨저(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보 보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기 됩니다.
별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유 되는 이외의 다른 목적으로 이용되지 않습니다.</p>

<p><strong>6) 파기 방법</strong></p>
<p>전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다. 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.</p>





<h4><strong>제5조 (개인정보 제 3자 동의)</strong></h4>

<p><strong>1)회사는 이용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.</strong></p>

<p>1. 이용자들이 사전에 동의한 경우<p>
<p>- 보유 기간 및 보유 정보 : 회원의 요청 또는 동의를 얻은 항목, 기간에 한하여 해당 기간 동안 보유<p>
<p>2. 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우<p>





<h4><strong>제6조 (개인정보 취급 위탁)</strong></h4>

<p>KG이니시스 - 상품 구매에 필요한 신용카드, 현금결제를 포함한 전자지급수단, 그밖에 전자적 방법에 따른 지급수단, 전자금융거래수단 등의 결제 정보 전송, 휴대폰 소액결제</p>
<p>*회사는 고객님의 동의 없이 고객님의 정보를 외부 업체에 위탁하지 않습니다. 향후 그러한 필요가 생길 경우, 위탁 대상자와 위탁 업무 내용에 대해 고객님에게 통지하고 필요한 경우 사전 동의를 받도록 하겠습니다.</p>






<h4><strong>제7조 (이용자 및 법정 대리인의 권리와 행사방법)</strong></h4>

<p>1)이용자 및 법정 대리인은 언제든지 등록 되어 있는 자신 혹은 당해 만 14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며 가입해지를 요청할 수도 있습니다.</p>
<p>2)이용자 혹은 만 14세 미만 아동의 '회원정보수정'을 가입해지 하기 위해서는 '회원탈퇴'를 클릭하여 탈퇴가 가능합니다. 혹은 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다.</p>
<p>3)귀하가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제 3자에게 이미 제공한 경우에는 정정 처리결과를 제 3자에게 지체없이 통지하여 정정이 이루어 지도록 하겠습니다.</p>





<h4><strong>제8조 (개인정보 자동 수집 장치의 설치, 운영 및 그 거부에 관한 사항)</strong></h4>

<p><strong>1)쿠키의 사용목적</strong></p>
<p>① 회사는 개인 맞춤 서비스를 제공하기 위해서 이용자에 대한 정보를 저장하고 수시로 불러오는 '쿠키(cookie)'를 사용합니다. 쿠키는 웹사이트 서버가 이용자의 브라우저에게 전송하는 소량의 정보로서 이용자 컴퓨터의 하드디스크에 저장됩니다.</p>
<p>② 회사는 쿠키의 사용을 통해서만 가능한 특정된 맞춤형 서비스를 제공할 수 있습니다.</p>
<p>③ 회사는 회원을 식별하고 회원의 로그인 상태를 유지하기 위해 쿠키를 사용할 수 있습니다.</p>

<p><strong>2)쿠키의 설치/운용 및 거부</strong></p>
<p>① 이용자는 쿠키 서치에 대한 선택권을 가지고 있습니다. 따라서 이용자는 웹브라우저에서 옵션을 조정함으로써 모든 쿠키를 허용/거부하거나, 쿠키가 저장될 떄마다 확인을 거치도록 할 수 있습니다.</p>
<p>a.Internet Exploer에서 쿠키의 서리 허용여부를 지정하는 방법-쿠키 설치 허용 여부를 지정하는 방법(Internet Exploer의 경우)은 다음과 같습니다. 웹 브라우저 상단의 "도구"메뉴>"인터넷 옵션"메뉴>"개인정보"탭>직접설정</p>
<p>b.Chrome에서 쿠키의 설치 허용여부를 지정하는 방법 웹 브라우저 우측 상단의 아이콘 선택 > "설정"선택>화면 하단의 "고급 설정 표시"선택 > 개인정보 섹션의 "콘텐츠 설정"버튼 > 쿠키 섹션에서 직접 설정</p>
<p>②쿠키의 저장을 거부할 경우 개인 맞춤 서비스 등 회사가 제공하는 일부 서비스의 이용이 어려울 수 있습니다.</p>





<h4><strong>제9조 (개인정보 관리 책임자)</strong></h4>

<p>회사는 이용자가 회사의 서비스를 안전하게 이용할 수 있도록 최선을 다하고 있습니다. 이용자는 회사의 서비스 이용과 관련한 모든 개인정보보호 민원을 전담부서로 신고하실 수 있으며, 회사는 이용자의 신고사항에 대해 신속하고 성실하게 답변해드리고 있습니다.</p>

<p>*개인정보관리 담당부서</p>
<p>cs 담당: </p>
<p>이메일 : </p>


<p>*개인정보관리 책임자</p>
<p>개인정보관리책임자 성명 : </p>
<p>이메일 : </p>

<p>*기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.</p>
<p>1. 개인정보침해신고센터(privacy.kisa.or.kr/ 국번없이 118)</p>
<p>2. 대검찰청 사이버수사과(www.spo.go.kr/ 국번없이 1301)</p>
<p>3. 경찰청 사이버 안전국(cyberbureau.police.go.kr/ 국번없이 182)</p>





<h4><strong>제 10조 (개정 전 고지 의무)</strong></h4>

<p>본 개인정보취급방침의 내용 추가, 삭제 및 수정이 있을 경우 개정 최소 7일 전에 '공지사항'을 통해 사전 공지할 것입니다. 다만, 수집하는 개인정보의 항목, 이용목적의 변경 등과 같이 이용자 권리의 중대한 변경이 발생할 때에는 최소 30일 전에 홈페이지 또는 이메일을 통해 사전 공지합니다. 필요시 이용자 동의를 다시 받을 수 있습니다.</p>




<p>공고일자 | 2018년 02월02일</p>
<p>시행일자 | 2018년 02월 02일</p>
					</div>
				</div>
				
			</div>
			
		</section>
		<!-- End Content -->

		<!-- Start Footer -->
		<footer id="footer" class="footer">

			<div class="footer-bg">
				<div class="footer-bg-img"></div>
				<div class="footer-bg-overlay"></div>
				<span class="trapeze-footer-bg"></span>
			</div>

			<div class="container footer-first-line">
				<div class="row">

					<!-- Start Text in Footer -->
					<div class="col-md-6 footer-about">

						<h2>Olli.</h2>
						<p>
							Nobis est eligendi optio, cumque nihil molestiae. Ea voluptate velit aliquid ex ea voluptate velit voluptatem accusantium doloremque laudantium esse, quam nihil impedit, quo minus id, quod maxime.
						</p>

						<ul class="footer-social-icons">
							<li><a href="#" title="Facebook"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" title="Twitter"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" title="Google Plus"><i class="fa fa-fw fa-google-plus" aria-hidden="true"></i></a></li>
							<li><a href="#" title="Instagram"><i class="fa fa-fw fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#" title="Behance"><i class="fa fa-fw fa-behance" aria-hidden="true"></i></a></li>
							<li><a href="#" title="Dribbble"><i class="fa fa-fw fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="#" title="Linkedin"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i></a></li>
						</ul>

					</div>
					<!-- End Text in Footer -->

					<!-- Start Contacts -->
					<div class="col-md-6 footer-contacts">

						<h2><span class="text-notice">Get In Touch</span></h2>

						<p>If you have any questions or suggestions, please contact us, or you can come to visit us in our cozy office.</p>

						<ul>
							<li><strong>Phone:</strong> (+11) 123-555-4567</li>
							<li><strong>Email:</strong> mail@example.com</li>
							<li><strong>Address:</strong> 1465 Mountain St, CA 91104, USA</li>
						</ul>

					</div>
					<!-- End Contacts -->

				</div>
			</div> <!-- .footer-first-line -->

			<div class="container footer-second-line">
				<div class="row">

					<div class="col-md-6 footer-bottom-links">
						<ul>
							<li><a href="single-page.html" title="Privacy">Privacy</a> /</li>
							<li><a href="single-page.html" title="Terms of Use">Terms of Use</a> /</li>
							<li><a href="single-page.html" title="Security">Security</a></li>
						</ul>
						<p class="copyright">Olli - Single Product Landing Page. All rights reserved.</p>
					</div>

				</div>
			</div><!-- .footer-second-line -->
		</footer>
		<!-- End Footer -->

	</section>
	<!-- End Content -->
</div>
<!-- Include JS -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/device.min.js"></script>
<script src="/assets/js/retina.min.js"></script>
<script src="/assets/js/nav.js"></script>
<script src="/assets/js/smooth-scroll.min.js"></script>
<script src="/assets/js/parallax.js"></script>
<script src="/assets/js/aos.js"></script>
<script src="/assets/js/flexslider.js"></script>
<script src="/assets/js/youtubebackground.js"></script>
<script src="/assets/js/magnific-popup.min.js"></script>
<script src="/assets/js/init.js"></script>

</body>
</html>