<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Olli - Single Product Landing Page</title>

		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

		<!-- Favicon for Desktop, iOS and android -->
		<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="/assets/images/favicons/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg">

		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

		<link href="/assets/css/bootstrap.css" rel="stylesheet"> 
		<link href="/assets/css/font-awesome.css" rel="stylesheet">
		<link href="/assets/css/pe-icon-7-stroke.css" rel="stylesheet">
		<link href="/assets/css/magnific-popup.css" rel="stylesheet">
		<link href="/assets/css/aos.css" rel="stylesheet">
		<link href="/assets/css/flexslider.css" rel="stylesheet">
		<link href="/assets/css/style.css" rel="stylesheet">
		<link href="/assets/css/colors/color-1.css" rel="stylesheet"> <!-- Color Scheme -->
 		
		<script src="/assets/js/modernizr.js"></script>

		<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script> 
		<![endif]-->

	</head>

<body>

	<!-- Start Content -->
	<section id="main" class="wrapper">

		<!-- Start Header -->
		<header id="home" class="page-header-container">
			<div class="container-fluid page-header-content">
				<div class="page-overlay"></div>
				<h2>결제가 실패 되었습니다.</h2>
			</div>
		</header>
		<!-- End Header -->

		<!-- Start Navigation -->
		<nav id="navigation" class="navbar navbar-default navbar-page-top">
			<div class="container-fluid">

				<div class="container">

					<div class="navbar-button">
					</div>

					<div class="navbar-header">
						<a class="navbar-brand smooth" href="index-1.html">Olli.<span class="logo-promo-text">Perfect Gadgets</span></a> <!-- Title / Tagline -->
					</div>


					<div class="clearfix"></div>

				</div>
			</div>
		</nav>
		<!-- End Navigation -->

		<!-- Start Content -->
		<section id="content" class="page-container">
			<div class="container">
				<div class="row">
					<div class="col-md-8 page-content text-center">
						<h3 class="text-center">실제 결제가 이루어 졌을 경우 고객센터로 문의 주시면 빠르게 해결 해 드리겠습니다.</h3>
						<a style="width:50%; margin-top:10px;" class="button action-button-cta" href="/temp">홈으로</a>
					</div>
				</div>
			</div>
		</section>
		<!-- End Content -->

		<!-- Start Footer -->
		<footer id="footer" class="footer">

			<div class="footer-bg">
				<div class="footer-bg-img"></div>
				<div class="footer-bg-overlay"></div>
				<span class="trapeze-footer-bg"></span>
			</div>

			<div class="container footer-first-line">
				<div class="row">

					<!-- Start Text in Footer -->
					<div class="col-md-6 footer-about">

						<h2>Olli.</h2>
						<p>
							Nobis est eligendi optio, cumque nihil molestiae. Ea voluptate velit aliquid ex ea voluptate velit voluptatem accusantium doloremque laudantium esse, quam nihil impedit, quo minus id, quod maxime.
						</p>

						<ul class="footer-social-icons">
							<li><a href="#" title="Facebook"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" title="Twitter"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" title="Google Plus"><i class="fa fa-fw fa-google-plus" aria-hidden="true"></i></a></li>
							<li><a href="#" title="Instagram"><i class="fa fa-fw fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#" title="Behance"><i class="fa fa-fw fa-behance" aria-hidden="true"></i></a></li>
							<li><a href="#" title="Dribbble"><i class="fa fa-fw fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="#" title="Linkedin"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i></a></li>
						</ul>

					</div>
					<!-- End Text in Footer -->

					<!-- Start Contacts -->
					<div class="col-md-6 footer-contacts">

						<h2><span class="text-notice">Get In Touch</span></h2>

						<p>If you have any questions or suggestions, please contact us, or you can come to visit us in our cozy office.</p>

						<ul>
							<li><strong>Phone:</strong> (+11) 123-555-4567</li>
							<li><strong>Email:</strong> mail@example.com</li>
							<li><strong>Address:</strong> 1465 Mountain St, CA 91104, USA</li>
						</ul>

					</div>
					<!-- End Contacts -->

				</div>
			</div> <!-- .footer-first-line -->

			<div class="container footer-second-line">
				<div class="row">

					<div class="col-md-6 footer-bottom-links">
						<ul>
							<li><a href="single-page.html" title="Privacy">Privacy</a> /</li>
							<li><a href="single-page.html" title="Terms of Use">Terms of Use</a> /</li>
							<li><a href="single-page.html" title="Security">Security</a></li>
						</ul>
						<p class="copyright">Olli - Single Product Landing Page. All rights reserved.</p>
					</div>

				</div>
			</div><!-- .footer-second-line -->
		</footer>
		<!-- End Footer -->

	</section>
	<!-- End Content -->

<!-- Include JS -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/device.min.js"></script>
<script src="assets/js/retina.min.js"></script>
<script src="assets/js/nav.js"></script>
<script src="assets/js/smooth-scroll.min.js"></script>
<script src="assets/js/parallax.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/flexslider.js"></script>
<script src="assets/js/youtubebackground.js"></script>
<script src="assets/js/magnific-popup.min.js"></script>
<script src="assets/js/init.js"></script>

<!--[if lte IE 9]>
<script src="assets/js/placeholders.js"></script>
<script src="assets/js/init-for-ie.js"></script>
<![endif]-->

</body>
</html>